/* color: #951ccef6;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    display: grid;
    grid-template:"imagem txt" ;
    overflow: hidden;
}
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
span label{
    display: block;
    padding-left: 12px;
    font-weight: bolder;
    font-size: 1.2em;
}
span label:first-of-type{
    color: #9103D5;
}
.imagem{
    display: inline-block;
}
.imagem img{
    width: 50px;
}
body{
    width: 100%;
    background-color: #07050f;
    color: #cdd4da;
}
.hero{
    background-color: #0e0c18;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
.hero h1{
    text-align: center;
    font-size: 1.6em;
    padding: 10px 0;
}
.hero p{
    text-align: center;
    max-width: 470px;
    padding: 10px 0;
    margin: auto;
    color: #ffffffd7;
}
.view{
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-weight: bolder;
    padding: 20px 0;
    width: 160px;
}
.view a:first-of-type{
    color: #ffffff93;
}
.main{
    width: 100%;
    display: block;
    padding: 60px 0;
}

.main .card{
    display: grid;
    align-items: center;
    grid-template: 1fr/ 1fr 1fr;
    margin: 40px 0;
    
}
.txt1 p{
    display: block;
    margin: auto;
    font-size: 1.1em;
    padding: 0 100px;
}
.img1{
    text-align: center;
    position: relative;
}
.img1 img, .txt1 p{
    display: block;
    margin: auto;
}
.img1 img{
    width: 250px;
}


.banner{
    background-color: #0e0c18;
    display: block;
    padding: 40px;
    margin-bottom: 300px;
}

.banner .card-contacto h1,a{
    color: rgba(255, 255, 255, 0.89);
    text-decoration: none;
}
.banner .title{
    color: rgba(255, 255, 255, 0.918);
    display: block;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.6em;
}
.banner .card-contacto{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px 80px;
    width: 75%;
}
.card-contacto h1{
    font-size: 1.2em;
}
.banner .card-contacto p{
    width: 60%;
    color: rgba(255, 255, 255, 0.644);
    font-size: 0.8em;
}
.publicidade{
    border-top: 1px solid #b8b7b7bd;
    padding: 20px;
}
.publicidade *{
    font-size: 1em;
}
.publicidade .row{
    display: grid;
    grid-template: 1fr/2fr 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    padding: 40px 80px;
    margin: auto;
    justify-content: center;    
}
.publicidade .row .card{
    width: 100%;
    color: #bfc0c2;
}
.publicidade .card p, .publicidade .card a{
    padding: 8px 0;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.5);
}
.publicidade .row .card h1{
    display: block;
    margin-bottom: 20px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.publicidade .card .inscrever{
    display: inline-block;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #951ccef6;
    color: white;
    font-size: 0.8em;
}
.first h1{
    font-weight: bold;
    color: #fff;
}


.footer .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: #fff;
    padding: 20px 0;
    gap: 10px;
    background-color: #0e0c18;
    overflow: hidden;
}

.footer p{
    font-size: 0.8em;
}
.media{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding: 10px;
    width: 200px;
    gap: 10px;
    background-color: transparent;
}
.media img{

    display: block;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 0;
}
.media a{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 0.74);
    padding: 1px;
}
@media screen and (max-width: 1000px){

    .txt1 p{
        padding: 0 60px;
    }
    .banner .card-contacto{
        padding: 10px 40px;
        width: 100%;
        margin: 0;
    }
    .banner{
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 850px) {
    .header{
        overflow: hidden;
    }
    .hero{
        overflow: hidden;
        
    }
    .txt1 p{
        padding: 0 20px;
    }
    .banner{
        margin-bottom: 100px;
    }
    .banner .card-contacto{
        padding: 10px 0 10px 10px;
    }
    .banner{
        padding: 10px 0 10px 10px;
    }
    .publicidade .row{
        grid-template: 1fr 1fr/2fr 1fr;
        row-gap: 20px;
    }
    .footer p{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 775px){
    .header .links ul li{
        padding: 10px 0;
        border-bottom: 1px solid rgba(168, 28, 233, 0.171);
        
    }
    .header .links .tudo{
        right: 0;
        transition: 0.3s ease;
    }
    body{
        overflow-x: hidden;
    }
    .menu{
        display: flex;
    }
}
@media screen and (max-width: 675px) {
    .main{
        overflow: hidden;
    }
    .img1 img{
        width: 180px;
    }
    .txt1 p{
        padding: 0 0 0 20px;
        font-size: 1em;
    }
    .banner{
        padding:20px 0;
    }
    .banner{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    .hero h1{
        font-size: 1.2em;
    }
    .hero p{
        font-size: 0.9em;
    }
    .view{
        font-size: 0.9em;
    }
    .txt1 p{
        padding: 0 0 0 10px;
        font-size: 0.9em;
    }
    .publicidade .row{
        grid-template: 2fr 1fr 1fr 1fr/ 1fr;
        row-gap: 0px;
    }
    .publicidade .row .card h1{
        margin-bottom: 4px;
    }
    .publicidade .card p{
        padding: 2px;
        font-size: 1em;
    }
    .card-contacto h1{
        font-size: 1em;
    }
    .banner .title{
        font-size: 1.1em;
    }
    .footer p{
        font-size: 0.65em;
    }

    .row .card{
        margin-bottom: 20px;

    }
}
@media screen and (max-width: 520px) {
    .main .card{
        grid-template: 1fr 1fr/ 1fr;
        font-size: 1em;
    }
    .img1 img{
        width: 160px;
    }
    .header .links ul{
        width: 0;
        right: 0;
    }
    .header .links ul li{
        overflow: hidden;
    }
    .header .links .tudo{
        width: 100%;
    }
}
@media screen and (max-width: 390px){
    .header{
        font-size: 0.8em;
    }
    .logo .txt{
        display: none;
    }
}