/* color: #951ccef6;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    display: grid;
    grid-template:"imagem txt" ;
    overflow: hidden;
}
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
span label{
    display: block;
    padding-left: 12px;
    font-weight: bolder;
    font-size: 1.2em;
}
span label:first-of-type{
    color: #9103D5;
}
.imagem{
    display: inline-block;
}
.imagem img{
    width: 50px;
}

/*Menu*/
.menu{
    display: none;
    width: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
}
.line1, .line2, .line3{
    border-radius: 10px;
    display: block;
    width: 30px;
    height: 4px;
    margin: 3px;
    background-color: whitesmoke;
    transition: 0.3s ease;
}
 .ativo{
    transform: rotate(405deg) translate(-9px, -5px);
    transition: 0.3s ease;
}
.ativo3{
    transform: rotate(-405deg) translate(-9px, 5px);
    transition: 0.3s ease;
}
.ativo2{
    opacity: 0;
}
/*fim menu*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    
    background-color: #0e0c18;
    border-bottom: 1px solid rgba(168, 28, 233, 0.171);
}

.header .links ul{
    display: flex;
    justify-content: space-between;
}
.header .links ul li{
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    color: #ffffffa1;
    transition: 0.2s;

}
.header .links ul li:hover{
    color: #ffff;
   transition: 0.2s;
}
.header .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-size: 0.8em;
}

#entrar{
    background: transparent;
    border: 0;
    margin-right: 10px;
    color: #cdd4da;
}
#new-count{
    background: transparent;
    color: #cdd4da;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #951ccef6;
}

@media screen and (max-width: 850px) {
    .header{
        overflow: hidden;
    }
}

@media screen and (max-width: 775px){
    .header{
        padding: 0 10px;
        height: 60px;
    }
    .header .links ul{
        position: fixed;
        flex-direction: column;
        width: 100%;
        text-align: center;
        top: 60px;
        background-color: #07050f;
        transition: 0.3s ease;
    }

    .header .links ul li{
        padding: 10px 0;
        border-bottom: 1px solid rgba(168, 28, 233, 0.048);
        
    }
    #entrar{
        font-size: 0.9em;
    }
    #new-count{
        font-size: 0.75em;
    }
    .header .links .tudo{
        right: 0;
        transition: 0.3s ease;
    }
    .menu{
        display: flex;
    }
    .header .links ul{
        width: 0;
        right: 0;
    }
    .header .links ul li{
        overflow: hidden;
    }
    .header .links .tudo{
        width: 100%;
    }
}
@media screen and (max-width: 520px) {
    .header .links ul{
        width: 0;
        right: 0;
    }
    .header .links ul li{
        overflow: hidden;
    }
    .header .links .tudo{
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .header{
        font-size: 0.8em;
    }
    .logo .txt{
        display: none;
    }
}