*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
a{
  color: inherit;
}/*
:root{
  font-size: 45.5%;
}*/

body{
  background-color: rgb(7, 5, 15);
  color: aliceblue;
}
.container .menu .logo{
  padding:0px 40px;
}
.menu .btn{
  display: flex;
  font-size: 16px;
  padding-right: 30px;
}
.menu .btn button{
  background:transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 15px;
}

#create{
  border: 1px solid #8408bd;
  padding: 0px 20px;
  border-radius:10px;
  color: #fff;

}
.menu .btn button:hover{
  background:transparent;
  border: 0;
  color: #8408bd;
  cursor: pointer;
  border-radius:10px;
}
.menu #create:hover{
  background:transparent;
  border: 0;
  color: #8408bd;
  cursor: pointer;
  border-radius:10px;
}

.hero_projectos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #0e0c18;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* Estilos para telas menores que 768px */
  .container .menu .logo{
    padding:0px 20px;
  }
  
  .menu .links ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  
  .menu .links ul li {
    margin: 10px 0;
    padding: 0;
  }
  
  .menu .btn {
    padding-right: 10px;
  }
  
  /* Botão para esconder/mostrar o menu */
  .menu-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .menu-toggle:hover {
    color: #8408bd;
  }
  
  /* Esconder o menu por padrão */
  .menu .links {
    display: none;
  }
  

}


/* Definir a largura máxima para o conteúdo da primeira seção */
.container_conteudo {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  
}
.container_conteudo h1{
  color:#ffffff;
  font-size: 25px;
  padding: 10px 0px;
}
.container_conteudo p {
  color:#bfc0c2;
  font-size: 12px;
}
.container_conteudo h5 {
  padding-top: 10px;
  color:#8e8e8f;
  font-size: 12px;
}
.container_conteudo span {
  padding-top: 10px;
  color:#ccccd3;
  font-size: 12px;
  font-weight: bold;
}
/* Estilização das barras de pesquisa e filtros */
.container_input {
display: flex;
justify-content:center;
align-items: center;
padding: 30px 0px;
background-color: rgba(20, 11, 43, 0.644);

}

.input_select select {
margin-left: 10px; /* Alterado para 10px */
width: 160px;
height: 35px;
border-radius: 5px;
border: solid 2px #777779;
background-color: transparent;
color: gray;
font-size: 1em;
}

.input_search input[type="search"] {
border-radius: 5px;
border: solid 2px #777779;
background-color: transparent;
color: #ffffff;
font-size: 1em;
width: 710px;
padding-left: 10px;
height: 35px;
outline: none;
margin-right:10px; /* Alterado para 10px */
}
.container_input span {
margin: 20px;
}

@media only screen and (max-width: 918px) {
/* Estilos para telas menores que 918px */
.container_input {
  flex-direction: flex;
  padding: 20px;
}

.input_select select {
  width: 100%;
  margin-bottom: 10px;
}

.input_search input[type="search"] {
  width: 100%;
  margin-bottom: 10px;
}
.input_select select {
  font-size: 14px;
}

.input_search input[type="search"] {
  font-size: 14px;
}
}

@media only screen and (max-width: 480px) {
/* Estilos para telas menores que 480px */
.input_select select {
  font-size: 12px;
}

.input_search input[type="search"] {
  font-size: 12px;
}
.container_input {
  flex-direction:column;
  padding: 10px;
}
}

/* Estilização dos cards */
.cards_projectos {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 2px 30px 30px 30px;
background-color: rgba(14, 8, 27, 0.644);
}

.card {
flex: 0 0 calc(33.33% - 125px);
margin: 9px;
height: 300px;
border-radius: 10px;
background: linear-gradient(0deg, #10121F, #10121F),
            linear-gradient(0deg, #161828, #161828);
}

.card img {
height: 90.125px;
width: 90.125px;
border-radius: 0px;
margin:20px 0px 0px 30px;
}

.card .card-content {
padding: 20px;
color: #FFF;
display: flex;
flex-direction: column;
}

.card .card-content h2 {
font-size: 18px;
margin-bottom: 10px;
}

.card .card-content p {
font-size: 12px;
color: #ffffff;
}

@media screen and (max-width: 1117px) {
.card {
  flex-basis: calc(50% - 18px);
}
}

@media screen and (max-width: 768px) {
.card {
  flex-basis: calc(90% - 18px);
}
.cards_projectos {
  padding: 2px 20px 20px 20px;
}
}

@media screen and (max-width: 334px) {
.card {
  flex-basis: 100%;
}
.card img {
  height: 60px;
  width: 60px;
  margin: 10px;
}
}

